body {
    background: linear-gradient(135deg, #faf8f8, #9eb6de);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center

}

.block {
    display: flex;

}
